#accordion {
  font-size: 1rem;
  width: 30vw;
  margin: 0 auto;
  border-radius: 5px;
}

.beerInfoAccordion{
  border:1px solid #ccc;
  border-radius:5px;
  padding: 1.5em 1.5em;
  background: #ff6f61;
  text-transform: uppercase;
  color: white;
  cursor: pointer;
  font-size: .8em;
  letter-spacing: .1em;
  transition: all .3s;
  text-align: center;
  margin: 0;

}
.panel{
  display:none;
  padding:4px;
  text-align: center;
}
